body {
  font-size: 16px;
  background-color: hsl(0, 100%, 74%);
  padding: 0 24px;
  background-image: url('../images/bg-intro-mobile.png');
  background-repeat: no-repeat;
  text-align: center;
  font-family: 'Poppins';
  color: white;
}

.signup-container {
  margin-top: 98px;
}

.signup-text h1 {
  margin-bottom: 36px;
}

.signup-text p {
  margin-bottom: 70px;
}

.signup-free p {
  padding: 20px;
  border-radius: 10px;
  background-color: hsl(248, 32%, 49%);
  margin: 0;
  margin-bottom: 24px;
  font-weight: 400;
}

.signup-free span {
  font-weight: 700;
}

.signup-form {
  background-color: white;
  border-radius: 10px;
}

.signup-input {
  padding: 0 24px;
}

.signup-input input {
  width: 85%;
  padding: 20px 20px;
  margin-top: 25px;
  border-radius: 5px;
  border: 1px solid hsl(246, 25%, 77%);
}

.signup-input .signup-form-button {
  width: 100%;
  text-transform: uppercase;
  background-color: hsl(154, 59%, 51%);
  font-weight: 700;
  color: white;
}

.signup-form-text {
  color: hsl(246, 25%, 77%);
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.signup-form-text p {
  padding: 0px 38px;
  font-size: 11px;
}

.signup-form-text span {
  color: hsl(0, 100%, 74%);
}
